    <nav class="h-nav">
      <a href="<%= root_path %>">Home</a>
      <a href="<%= posts_path %>">News</a>
      <!-- <a href="/community.html">Community</a> -->
      <a href="<%= board_path %>">Board</a>
    </nav>