<%= render :partial => "shared/board_header" %>
  <section class="main first">
    <div class="section-content">
      <div class="person-group">
        <img src="" alt="" class="photo">
        <p class="lead">Will Potter</p>
        <p class="sm-links">
          <a href="http://www.twitter.com/willpots" class="social" target="_blank"><i class="icon-2x icon-twitter-sign"></i></a>
          <a href="http://www.linkedin.com/in/wspotter" class="social" target="_blank"><i class="icon-2x icon-linkedin-sign"></i></a>
        </p>
      </div>
      <div class="person-group">
        <p class="lead">Logan Randolph</p>
        <p class="sm-links">
          <a href="http://www.twitter.com/theLRandolph" class="social" target="_blank"><i class="icon-2x icon-twitter-sign"></i></a>
          <a href="http://www.linkedin.com/in/loganrandolph" class="social" target="_blank"><i class="icon-2x icon-linkedin-sign"></i></a>
        </p>

      </div>
    </div>
  </section>